:root {
  --spacing: 20px;

  --color-light-gray: #dcdcdc;
  --color-gray: #e5e5e5;
  --color-white: #ffffff;
  --color-dark-blue: #112a38;
  --color-metal: #858585;
  --color-silver: #b7b7b7;
  --color-red: #c63040;

  --box-shadow: 0px 12px 48px rgba(0, 0, 0, 0.1);

  --font-family: 'Open Sans', -apple-system, system-ui, "Helvetica Neue", Helvetica, "Segoe UI", Roboto, "Apple Color Emoji", "Segoe UI Emoji", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
}